body{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color:rgb(119, 154, 120);
color:rgb(255, 255, 255)

}
img{
    max-height: 300px;
    max-width: 300px;
    float: left;
}
h2{
  font-size: 30px;
}
a{
  color:rgb(62, 39, 9)
}
a:hover{
  background-color: white;
}
a:visited{
  color:#de5f42
}
#title{
font-size: 100pt;
text-align: center;
top:10%;
size:90%;
width: 90%;
margin: 5%;
border: 4px solid rgb(62, 39, 9);
color: white;
background-image: url("./image-food.webp");
}

.sidebar{
    margin-top:25%;
  margin-left: 5%;
  padding: 0;
  width: 150px;
  background-color: rgb(62, 39, 9);
  position: fixed;
  height: 45%;
  overflow: auto;
}
#discover{
    
}
#bio{
    margin: 10%;
    padding: 5%;
    border: 5px dotted rgb(62, 39, 9);
}
.flexImg{
    display: flex;
    justify-content: space-around;


}
.names{
  background-color: rgba(255, 255, 255, 0.566); 
  color:rgb(119, 154, 120);
  margin-bottom: 2%;
  text-align: center;
}
#boba, #coffeeO, #raaz{
    border: 5px dotted rgb(62, 39, 9);
    height: 300px;
    width: 300px;
}

#discrption{
  font-size: 20px;
    padding-left: 20px;
    float: left;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containsImgDep{
  display: flex;
  flex-direction: column;
}