/******** SPLASH SECTION ********/
.splash {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 5%;
}
/* Bottom left text */
.Left-Center {
  position: absolute;
  top: 10%;
}
.shopButton {
  position: absolute;
  bottom: 8px;
  left: 50%;
  border: 1px solid black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#line-break {
  display: flex;

  margin-top: 10%;
  align-items: center;
  margin-bottom: 10%;
}
.line {
  border: 1px solid black;
  width: 100%;
}
#centerCookie {
  text-align: center;
  width: 100%;
}
/******** GOODIES SECTION ********/
#Goodie-Pic {
  margin-bottom: 10%;

  display: flex;
  justify-content: space-around;
}
.box-1 {
  background-color: antiquewhite;
}
.box-2 {
  background-color: #eabfcb;
}
.box-3 {
  background-color: #86e6ee;
}
h1 {
  text-align: center;
  font-size: x-large;
}
#hiden {
  align-self: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
#button {
  border: none;
  color: white;
  margin: 10pt;
  padding: 15px 32px;
  text-align: center;
  align-items: center;
  font-size: 20px;
}
/******** BEST SELLERS ********/
.flex-container {
  display: flex;
  border: 1px solid #eee;
  border-radius: 2px;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-evenly;
}
.flex-item {
  height: 350px;
  width: 350px;
  margin: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 100px;
  font-size: 30px;
  color: white;
}
.box-1 {
  background-color: antiquewhite;
}
.box-2 {
  background-color: #eabfcb;
}
.box-3 {
  background-color: #86e6ee;
}
.container {
  display: flex;
  border: 1px solid #eee;
  border-radius: 2px;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-evenly;
  display: flex;
  border: 1px solid #eee;
  border-radius: 2px;
}
.little-boxes {
  height: 200px;
  text-align: center;
  text-align: end;
}