/*-- Trinity Boler
Css page for the HomePage of pie for Grandma's recipes */
body {
  background-image: url("./pics/silverware.jpg");
  padding: 20px;
}

h1 {
  color: white;
}
pre {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
  margin: 10pt;
  font-size-adjust: 0.58;
}
#pieimg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 200px;

  text-align: center;
}
#pieimg:hover {
  opacity: 0.5;
  background-color: #ddd;
}

#pieAndText {
  align-items: center;
  display: block;
  margin: 0 auto;
  text-align: center;
}
p {
  text-align: left;
}
.bordered2,
h1,
h3 {
  text-align: center;
  align-items: center;
  padding: 0rem;
  border: 5px solid;
  background-image: url("./pics/background2.gif");
  border-image-repeat: stretch;
  width: 100%;
}
/* Create 2 equal columns that floats next to each other */
.columnLeft {
  font-size: large;
  float: left;
  width: 40%;
  padding: 20px;
}
.columnRight {
  float: right;
  width: 40%;
  padding: 20px;
}
h2 {
  font-size: medium;
  align-items: center;
  font-size: 18pt;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
#color {
  background-color: white;
  color: white;
  padding: 1pt;
}
a {
  display: block;
  color: #ddd;
}
div {
  background-color: #a1c7cb;
}
#footer,
h3 {
  color: white;
  display: flex;
  justify-content: space-evenly;
  border: 1px;
}
h3 {
  text-align: center;
  border: 1px;
  border-color: white;
}
#Bottom {
  border: 2px solid white;
  margin-top: 5%;
}
