body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#opponent-choice {
    width: 240px;
    height: 240px;
    border: 2px dotted black;
    margin-top: 10px;
}

#your-choice {
    width: 240px;
    height: 240px;
    border: 2px dotted black;
    margin-top: 10px; 
}

#choices {
    width: 240px;
    height: 80px;

    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}
#choices{
    display: flex;
    justify-content: center;
}
button{
    height:30px;
    margin-top: 470px;
    border: none;
    background-color: rgb(191, 191, 222);
    border-radius: 20%;
}
.space{
    display: flex;
    width: 240px;
   height: 80px;
    margin-top: 10px;

    

}
#opponent-choices{
    width: 240px;
    height: 80px;
    border: 2px solid black;
}

